.Cart {
  &__item {
    margin: 15px 0;
    padding: 15px 30px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 10px -5px black;

    &-image {
      width: 150px;
      height: 150px;
      object-fit: contain;
      margin-right: 15px;
    }

    &-name {
      font-weight: 600;
    }

    &-price {
    }
  }

  &__checkout {
    border: 2px solid black;
    margin-top: 30px;
    padding: 10px 5px;
    p {
      font-weight: 600;
    }
  }
}
